# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 1. Tutorial Python untuk Pengantar Pembelajaran Mesin

Tuliskan Nama, NIM, dan kelas Anda:

Nama  :

NIM   :

Kelas :



### 1) Cek Library
Cek apakah library-library berikut telah terinstall :


1.   Numpy
2.   Pandas
3.   Matplotlib
4.   Scipy
5.   Scikit-learn

Tuliskan kode pada cell di bawah ini untuk mengecek apakah library tersebut telah terinstall

### 2) Upload **kontak.csv**

Tuliskan kode pada cell di bawah ini untuk mengunggah berkas **kontak.csv**

In [ ]:
!ls

kontak.csv  sample_data

### 3) Download iris.csv

Tuliskan code pada cell di bawah ini untuk mendownload berkas **iris.csv**

In [ ]:
!ls

iris.csv  kontak.csv  sample_data

### 4) Membaca format CSV

File CSV dapat diuraikan (parsing) ke dalam bentuk list, dictionary, atau dataframe.

Tuliskan code pada cell di bawah ini untuk melakukan parsing csv ke dalam bentuk list

Cek apakah fungsi csv_list dapat berjalan dengan baik

Tuliskan code pada cell di bawah ini untuk melakukan parsing csv ke dalam bentuk dictionary

Cek apakah fungsi csv_dict dapat berjalan dengan baik

Gunakan **pandas** untuk mengambil data dari **iris.csv**. Fungsi yang digunakan adalah **read_csv**. Tuliskan kode pada cell di bawah ini

cek sebagian isi **iris_df** menggunakan properti **head**

### 5) Meringkas Kumpulan Data

Tampilkan ringkasan data, meliputi :


1.   Menampilkan 6 data pertama
2.   Menampilkan ukuran dataframe
3.   Menampilkan distribusi data
4.   Menampilkan banyak data per kelas

### 6) Visualisasi Data
Tampilkan plot box dari dataset iris yang berada pada dataframe **iris_df**

Tampilkan histogram dari setiap variabel pada dataframe **iris_df**

Tampilkan scatter plot untuk melihat interaksi antar variabel

## TUGAS

1.   Download Glass dataset dari https://dataset-ppm.s3.amazonaws.com/glass.csv
2.   Masukkan data Glass ke dataframe menggunakan Pandas.
3.   Tampilkan 10 data pertama
4.   Hitung rata-rata nilai per variabel untuk setiap data
5.   Hitung rata-rata nilai per variabel untuk setiap data dikelompokkan berdasarkan Type
6.  Buatlah plot bertipe 'line' untuk masing-masing variabelnya. Referensi : [Pandas Plot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html)