# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 2. Pemrosesan Awal Data



### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi **wget** untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [1]:
! wget https://dataset-ppm.s3.amazonaws.com/iris_missing.csv

--2024-03-14 21:24:15--  https://dataset-ppm.s3.amazonaws.com/iris_missing.csv
Resolving dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)... 52.219.104.124, 52.219.109.156, 52.219.107.68, ...
Connecting to dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)|52.219.104.124|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4593 (4,5K) [text/csv]
Saving to: 'iris_missing.csv'

     0K ....                                                  100% 8,42M=0,001s

2024-03-14 21:24:17 (8,42 MB/s) - 'iris_missing.csv' saved [4593/4593]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi [readcsv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) dari library pandas. Lakukan pembacaan berkas csv menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('iris_missing.csv')

C:\Users\acern\AppData\Local\Temp\ipykernel_30192\4279088670.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Tampilkan beberapa baris dari dataset untuk mendapatkan informasi singkat mengenai isi data. Gunakan fungsi **head()** untuk menampilkan 5 data pertama.

In [3]:
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           0.0          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Berdasarkan informasi dari fungsi **head()**, data iris yang
digunakan mempunyai 4 fitur sebagai berikut :


1.   sepal length
2.   sepal width
3.   petal length
4.   petal width

### 2) Missing value dan imputasi data




Jika Anda perhatikan dengan seksama, data pada baris ke-3 (index 2) pada fitur sepal length memiliki nilai 0.0. Hal ini menandakan adanya missing value pada data. Jalankan cell di bawah ini untuk mendapatkan semua data yang mengandung missing value. Pencarian data yang mengandung missing value dilakukan dengan tahapan sebagai berikut:


1.   Membuat filter untuk mencari data dengan sepal_length = 0, sepal_width = 0, petal_length = 0, petal_width =0
2.   Mencari data yang memenuhi kondisi1 **atau** kondisi2 **atau** kondisi3 **atau** kondisi4 menggunakan property [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pada dataframe

In [4]:
kondisil = data['sepal_length']==0.0
kondisi2 = data['sepal_width']==0.0
kondisi3 = data['petal_length']==0.0
kondisi4 = data['petal_width']==0.0
data.loc[kondisil | kondisi2 | kondisi3 | kondisi4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             0.0          3.2           1.3          0.2      Iris-setosa
11            0.0          3.4           1.6          0.2      Iris-setosa
32            5.2          0.0           1.5          0.1      Iris-setosa
47            4.6          3.2           0.0          0.2      Iris-setosa
51            6.4          0.0           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          0.0  Iris-versicolor
67            5.8          2.7           0.0          1.0  Iris-versicolor
86            6.7          0.0           4.7          1.5  Iris-versicolor
107           0.0          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           0.0          2.1   Iris-virginica
113           5.7          2.5           5.0          0.0   Iris-virginica
139           6.9          3.1           5.4          0.0   Iris-virginica
145           6.7          3.0           5.2          0.0   Iris-virginica

Penanganan missing value pada Pandas akan lebih mudah apabila data yang hilang (bernilai 0.0) diganti dengan NaN (Not A Number). Gunakan properti **replace** pada dataframe untuk menggganti 0.0 menjadi NaN

In [5]:
data = data.replace(0.0,np.NaN)

Terdapat beberapa cara untuk mengatasi permasalahan missing value pada data. Salah satu cara yang sederhana adalah dengan mengganti nilai NaN pada suatu fitur dengan rata-rata nilai fitur tersebut pada data lain yang bernilai bukan Nan. Perhatikan bahwa Anda harus mengganti nilai NaN dengan rata-rata data lain yang memiliki kategori (species) yang sama.

Fungsi-fungsi pada Pandas yang dapat Anda manfaatkan:


1.   **transform** untuk mengaplikasikan fungsi tertentu pada dataframe, pada permasalahan ini fungsi yang digunakan adalah fungsi **mean**
2.   **groupby** untuk mengelompokkan dataframe berdasarkan nilai kolom tertentu, pada permasalahan ini kolom yang digunakan adalah **species**
3. **fillna** untuk mengganti nilai NaN dengan nilai yang telah ditentukan




Buatlah fungsi bernama **imputasi** yang melakukan tahapan berikut:


1.   Menghitung rata-rata masing-masing kolom berdasarkan kelasnya
2.   Mengisi kolom yang berisi NaN dengan rata-rata kelas yang sesuai

In [6]:
def imputasi (df_input):
  list_columns= df_input.columns #mendapatkan daftar kolom pada dataframe
  class_column=list_columns[-1] #kolom terakhir merupakan kolom kelas
  for column in list_columns[:-1]: 
    df_input[column] = df_input[column].fillna(df_input.groupby(class_column) [column].transform('mean')) # Penggantian nilai NaN dilakukan per kolom
  return df_input

Buatlah sebuah dataframe baru bernama **data_imputasi** yang berisi dataset dengan nilai NaN yang sudah diganti dengan cara memanggil fungsi **imputasi**.

In [7]:
data_imputasi = imputasi(data)

Cek apakah masih terdapat nilai NaN pada dataframe.

In [8]:
data_imputasi.isnull().values.any()

False

### 3) Normalisasi MinMax
Normalisasi bertujuan menyamakan rentang nilai pada setiap fitur. Beberapa metode pembelajaran mesin memiliki kinerja yang buruk apabila rentang nilai tiap variabel berbeda jauh.

Sebelum melakukan normalisasi, cek terlebih dahulu rentang (nilai max - nilai min) pada masing masing fitur

In [9]:
def cetak_rentang(df_input):
    list_fitur = df_input.columns[:-1]
    for fitur in list_fitur:
      max = df_input[fitur].max()
      min = df_input[fitur].min()
      print("Rentang fitur",fitur,"adalah",max,min)

In [10]:
cetak_rentang(data_imputasi)

Rentang fitur sepal_length adalah 7.9 4.3
Rentang fitur sepal_width adalah 4.4 2.0
Rentang fitur petal_length adalah 6.9 1.0
Rentang fitur petal_width adalah 2.5 0.1

Terlihat bahwa masing-masing fitur memiliki rentang yang berbeda, meskipun tidak terlalu signifikan. Pada praktikum ini Anda akan mengimplementasikan normalisasi MinMax untuk menyamakan rentang setiap fitur menjadi satu (1). Persamaan dari fungsi normalisasi MinMax adalah sebagai berikut:

$x'=\frac{x-min(x)}{max(x)-min(x)}$

dimana $x'$ merupakan nilai ternormalisasi, $x$ adalah nilai asal, $min(x)$ merupakan nilai minimum pada suatu fitur, dan $max(x)$ merupakan nilai maksimum pada suatu fitur.

Implementasikan metode normalisasi MinMax pada fungsi bernama **minmax**.

In [11]:
def minmax(df_input):
    list_fitur = df_input.columns[:-1]
    for fitur in list_fitur:
      max = df_input[fitur].max()
      min = df_input[fitur].min()
      df_input[fitur] = (df_input[fitur]-min)/(max-min)
    return df_input

Buatlah sebuah dataframe baru bernama **data_normal** yang berisi hasil dari metode minmax dengan input **data_imputasi**

In [12]:
data_normal = minmax(data_imputasi)

Cek 5 baris pertama **data_normal**

In [13]:
data_normal.head(5)

   sepal_length  sepal_width  petal_length  petal_width      Species
0      0.222222     0.625000      0.067797     0.041667  Iris-setosa
1      0.166667     0.416667      0.067797     0.041667  Iris-setosa
2      0.199074     0.500000      0.050847     0.041667  Iris-setosa
3      0.083333     0.458333      0.084746     0.041667  Iris-setosa
4      0.194444     0.666667      0.067797     0.041667  Iris-setosa

Tampilkan rentang masing-masing fitur menggunakan fungsi **cetak_rentang** yang telah dibuat

In [14]:
cetak_rentang(data_normal)

Rentang fitur sepal_length adalah 1.0 0.0
Rentang fitur sepal_width adalah 1.0 0.0
Rentang fitur petal_length adalah 1.0 0.0
Rentang fitur petal_width adalah 1.0 0.0

## TUGAS
1. Implementasikan metode normalisasi Z-score dengan cara membuat fungsi bernama **zscore**.
2. Normalisasikan dataframe **data_imputasi** menggunakan fungsi **zscore**. Simpan hasilnya pada dataframe bernama **data_zscore**.
3. Jelaskan perbedaan hasil normalisasi **MinMax** dan **ZScore**. Petunjuk : cek nilai rentang, rata-rata dan standar deviasi dari **data_zscore**.

In [15]:
def zscore(df_input):
  for column in df_input.columns[:-1]:
        mean = df_input[column].mean()
        std = df_input[column].std()
        df_input[column] = (df_input[column] - mean) / std
  return df_input

In [16]:
data_zscore = zscore(data_imputasi)

In [17]:
data_zscore.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0     -0.907825     1.053430     -1.336763    -1.312509  Iris-setosa
1     -1.152507    -0.110540     -1.336763    -1.312509  Iris-setosa
2     -1.009776     0.355048     -1.393408    -1.312509  Iris-setosa
3     -1.519530     0.122254     -1.280117    -1.312509  Iris-setosa
4     -1.030166     1.286224     -1.336763    -1.312509  Iris-setosa

Tuliskan jawaban pertanyaan nomor 3 **di sini**

Perbedaan utama antara keduanya adalah:

Skala Hasil: Normalisasi Min-Max menghasilkan nilai-nilai dalam rentang tertentu (biasanya 0 hingga 1), sementara Normalisasi Z-Score menghasilkan nilai-nilai dengan mean 0 dan standar deviasi 1.
Rentang Nilai: Normalisasi Min-Max mempertahankan distribusi asli dari data, hanya mengubah skala nilai, sedangkan Normalisasi Z-Score dapat mempengaruhi distribusi data dengan membuatnya terpusat pada mean dan memiliki varians sebesar 1.
Pemilihan antara normalisasi Min-Max dan Normalisasi Z-Score tergantung pada kebutuhan spesifik dalam analisis data. Jika Anda ingin mempertahankan interpretasi semula dari data, normalisasi Min-Max mungkin lebih cocok. Namun, jika Anda ingin menekankan perbedaan relatif antara nilai-nilai dan meminimalkan dampak outlier, normalisasi Z-Score mungkin lebih disukai.

In [18]:
print("Rentang MinMax:")
cetak_rentang(data_normal)
print("\nRentang ZScore:")
cetak_rentang(data_zscore)

Rentang MinMax:
Rentang fitur sepal_length adalah 2.517721194266612 -1.8865528774926283
Rentang fitur sepal_width adalah 3.1485765409407946 -2.4384807713020926
Rentang fitur petal_length adalah 1.778753714774106 -1.5633457150863401
Rentang fitur petal_width adalah 1.7167239391451317 -1.4442147862035932

Rentang ZScore:
Rentang fitur sepal_length adalah 2.517721194266612 -1.8865528774926283
Rentang fitur sepal_width adalah 3.1485765409407946 -2.4384807713020926
Rentang fitur petal_length adalah 1.778753714774106 -1.5633457150863401
Rentang fitur petal_width adalah 1.7167239391451317 -1.4442147862035932

In [19]:
def cetak_mean(df_input):
  feature_list = df_input.columns[:-1]
  for feature in feature_list:
    mean = df_input[feature].mean()
    print("Rata-rata fitur",feature,"adalah ", mean)

In [20]:
print("Rentang MinMax:")
cetak_mean(data_normal)
print("\nRentang ZScore:")
cetak_mean(data_zscore)

Rentang MinMax:
Rata-rata fitur sepal_length adalah  2.3684757858670006e-16
Rata-rata fitur sepal_width adalah  2.842170943040401e-16
Rata-rata fitur petal_length adalah  1.4210854715202004e-16
Rata-rata fitur petal_width adalah  4.7369515717340015e-17

Rentang ZScore:
Rata-rata fitur sepal_length adalah  2.3684757858670006e-16
Rata-rata fitur sepal_width adalah  2.842170943040401e-16
Rata-rata fitur petal_length adalah  1.4210854715202004e-16
Rata-rata fitur petal_width adalah  4.7369515717340015e-17

In [21]:
def cetak_std(df_input):
  feature_list = df_input.columns[:-1]
  for feature in feature_list:
    std = df_input[feature].std()
    print("Standar deviasi fitur",feature,"adalah ", std)

In [22]:
print("Rentang MinMax:")
cetak_std(data_normal)
print("\nRentang ZScore:")
cetak_std(data_zscore)

Rentang MinMax:
Standar deviasi fitur sepal_length adalah  1.0
Standar deviasi fitur sepal_width adalah  1.0
Standar deviasi fitur petal_length adalah  1.0
Standar deviasi fitur petal_width adalah  1.0

Rentang ZScore:
Standar deviasi fitur sepal_length adalah  1.0
Standar deviasi fitur sepal_width adalah  1.0
Standar deviasi fitur petal_length adalah  1.0
Standar deviasi fitur petal_width adalah  1.0